body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
    background-image: url('pexels-pixabay-248747.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating the image */
}
h1 {
    text-align: center;
    color: #e4b6b6;
    margin-top: 20px;
}
nav {
    background-color: #548d5e;
    padding: 10px 0;
    text-align: center; /* Center the nav items */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block; /* Center the list */
}

nav ul a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav ul a:hover {
    background-color: #ecb76d;
}

nav {
    background-color: #505050;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav ul a:hover {
    background-color: #c8ab5e;
}

.booking {
    text-align: center;
    margin: 40px 0;
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="date"],
input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
